<!-- User container -->
<div class="user-container h-100 w-100 d-flex 
						align-items-center justify-content-center py-2">

	<!-- User sign container -->
	<div class="user-sign-container container position-relative h-auto m-2
							d-flex align-items-center justify-content-center overflow-hidden"
			 ng-class="{'show-overlay-left-panel': isShowOverlayLeftPanel,
									'show-frogot-password-form': isShowOverlayLeftPanel &&
																							 isShowFrogotPasswordForm}">

		<!-- Register/Frogot password form container -->
		<div class="form-container register-frogot-password-container 
					 			h-100 w-50 position-absolute 
					 			top-0 start-0 border border-5">

			<!-- Register form -->
			<form name="registerForm"
			 			class="register-form h-100 bg-light d-flex flex-column 
									 justify-content-center px-3"
			 			ng-if="!isShowFrogotPasswordForm">

	 			<!-- Title -->
	 			<h2 class="text-center mb-3">
		 			<i class="fa-id-card fa-solid me-1"></i>
		 			<span>Regisztráció</span>
	 			</h2>

	 			<!-- Name -->
	 			<div class="row input-row mb-2">
		 			<label for="register_name" 
								 class="col-form-label fw-semibold">
			 			<i class="text-danger fa-2xs fa-solid fa-star"></i>
			 			<i class="fa-solid fa-user me-1"></i>
			 			<span>Név:</span>
		 			</label>
		 			<div class="col-10 position-relative">
						<input type="text"
									 name="register_name" 
									 class="form-control" 
									 id="register_name"
									 placeholder="név"
									 ng-init="model.register.name=null"
									 ng-model="model.register.name"
									 spellcheck="false" 
									 autocomplete="off"
									 ng-clear-icon
									 required>
		 			</div>
		 			<div class="col-2 mt-1">
						<span class="float-start text-success check-mark fw-bold"
									ng-show="registerForm.register_name.$valid">
							&check;
						</span>
		 			</div>
	 			</div>

	 			<!-- Email -->
	 			<div class="row input-row mb-2">
					<label for="register_email" 
								 class="col-form-label fw-semibold">
						<i class="text-danger fa-2xs fa-solid fa-star"></i>
						<i class="fa-envelope fa-solid me-1"></i>
						<span>Email cím:</span>
					</label>
					<div class="col-10 position-relative">
					 	<input type="email"
									 name="register_email" 
									 class="form-control" 
									 id="register_email"
									 placeholder="email cím"
									 ng-init="model.register.email=null"
									 ng-model="model.register.email"
									 ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
									 maxlength="50"
									 spellcheck="false" 
									 autocomplete="off"
									 ng-clear-icon
									 required>
					</div>
					<div class="col-2 mt-1">
					 	<span class="float-start text-success check-mark fw-bold"
								 	ng-show="registerForm.register_email.$valid">
						 	&check;
					 	</span>
					</div>
	 			</div>

	 			<!-- Email confirm -->
	 			<div class="row input-row mb-2">
					<label for="register_email_confirm" 
								 class="col-form-label fw-semibold">
						<i class="text-danger fa-2xs fa-solid fa-star"></i>
						<i class="fa-envelope-circle-check fa-solid me-1"></i>
						<span>Email cím megerősítése:</span>
					</label>
					<div class="col-10 position-relative">
					 	<input type="email"
									 name="register_email_confirm" 
									 class="form-control" 
									 id="register_email_confirm"
									 placeholder="email cím megerősítése"
									 ng-init="model.register.email_confirm=null"
									 ng-model="model.register.email_confirm"
									 ng-pattern="model.register.email"
									 maxlength="50"
									 spellcheck="false" 
									 autocomplete="off"
									 ng-clear-icon
									 required>
					</div>
					<div class="col-2 mt-1">
					 	<span class="float-start text-success check-mark fw-bold"
								 	ng-show="registerForm.register_email_confirm.$valid">
						 	&check;
					 	</span>
					</div>
	 			</div>
			
	 			<!-- Password -->
	 			<div class="row input-row mb-2">
					<label for="register_password" 
								 class="col-form-label fw-semibold">
					 	<i class="text-danger fa-2xs fa-solid fa-star"></i>
					 	<i class="fa-key fa-solid me-1"></i>
					 	<span>Jelszó:</span>
					</label>
					<div class="col-10 position-relative">
					 	<input ng-attr-type="{{model.register.show_password?'text':'password'}}"
									 name="register_password" 
									 class="form-control" 
									 id="register_password"
									 placeholder="jelszó"
									 ng-init="model.register.password=null"
									 ng-model="model.register.password"
									 ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
									 spellcheck="false" 
									 autocomplete="off"
									 ng-clear-icon
									 maxlength="20" 
									 required>
					</div>
					<div class="col-2 mt-1">
					 <span class="float-start text-success check-mark fw-bold"
								 ng-show="registerForm.register_password.$valid">
						 &check;
					 </span>
					 <span class="float-end"
									data-bs-toggle="tooltip"
						 			data-bs-custom-class="custom-tooltip"
						 			data-bs-html="true"
						 			data-bs-title="&lt;p class='my-1'>6-20 karakter&lt;/br>
																 &lt;small>(kis- nagybetűket és számokat tartalmaz)&lt;/small>&lt;/p>">
				 			<i class="text-primary fa-circle-info fa-solid"></i>
			 			</span>
					</div>
	 			</div>
			
	 			<!-- Password confirm -->
	 			<div class="row input-row mb-1">
					<label for="register_password_confirm" 
								 class="col-form-label fw-semibold">
					 	<i class="text-danger fa-2xs fa-solid fa-star"></i>
					 	<i class="fa-solid fa-unlock-keyhole me-1"></i>
					 	<span>Jelszó megerősítése:</span>
					</label>
					<div class="col-10 position-relative">
					 	<input ng-attr-type="{{model.register.show_password?'text':'password'}}"
									 name="register_password_confirm" 
									 class="form-control" 
									 id="register_password_confirm"
									 placeholder="jelszó megerősítése"
									 ng-init="model.register.password_confirm=null"
									 ng-model="model.register.password_confirm"
									 ng-pattern="model.register.password"
									 spellcheck="false" 
									 autocomplete="off"
									 ng-clear-icon
									 maxlength="20" 
									 required>
					</div>
					<div class="col-2 mt-1">
					 	<span class="float-start text-success check-mark fw-bold"
								 	ng-show="registerForm.register_password_confirm.$valid">
						 	&check;
					 	</span>
					</div>
	 			</div>
			
	 			<!-- Show/Hide password -->
	 			<div class="col-auto form-check text-start mb-3">
					<input type="checkbox" 
								 class="form-check-input" 
								 id="regiszter_show_password"
								 ng-init="model.register.show_password=null"
								 ng-model="model.register.show_password">
					 	<label class="form-check-label fw-semibold" 
									 for="regiszter_show_password">
						 	<i class="fa-eye fa-solid ms-1"></i>
						 	<span>Jelszót megjelenít</span>
					 	</label>
	 			</div>
			
	 			<!-- Buttons -->
	 			<div class="mb-1">
					<button type="button"
									class="btn btn-primary shadow-sm-bottom-end mb-1 mx-2"
									ng-click="methods.accept('register')"
									ng-disabled="registerForm.$invalid">
						Regisztráció
					</button>
					<button type="button"
									class="btn btn-secondary shadow-sm-bottom-end mb-2 mx-2"
									ng-click="methods.cancel()">
						Mégsem
					</button>
	 			</div>
			</form>

			<!-- Frogot password form -->
			<form name="frogotPasswordForm"
					 	class="frogot-password-form h-100 bg-light d-flex flex-column 
									 justify-content-center px-3"
					 	ng-if="isShowFrogotPasswordForm">

			 	<!-- Title -->
			 	<h2 class="text-center mb-3">
					<i class="fa-solid fa-unlock-keyhole me-1"></i>
					<span>Elfelejtette jelszavát</span>
			 	</h2>
			
			 	<!-- Email -->
			 	<div class="row input-row mb-2">
					<label for="frogotPassword_email" 
								 class="col-form-label fw-semibold">
					 	<i class="text-danger fa-2xs fa-solid fa-star"></i>
					 	<i class="fa-envelope fa-solid me-1"></i>
					 	<span>Email cím:</span>
					</label>
					<div class="col-10 position-relative">
					 	<input type="email"
									 name="frogotPassword_email" 
									 class="form-control" 
									 id="frogotPassword_email"
									 placeholder="email cím"
									 ng-init="model.frogotPassword.email=null"
									 ng-model="model.frogotPassword.email"
									 ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
									 maxlength="50"
									 spellcheck="false" 
									 autocomplete="off"
									 ng-clear-icon
									 required>
					</div>
					<div class="col-2 mt-1">
					 	<span class="float-start text-success check-mark fw-bold"
								 	ng-show="frogotPasswordForm.frogotPassword_email.$valid">
						 	&check;
					 	</span>
					</div>
			 	</div>
			
			 	<!-- Email confirm -->
			 	<div class="row input-row mb-3">
					<label for="frogotPassword_email_confirm" 
								 class="col-form-label fw-semibold">
					 	<i class="text-danger fa-2xs fa-solid fa-star"></i>
					 	<i class="fa-envelope-circle-check fa-solid me-1"></i>
					 	<span>Email cím megerősítése:</span>
					</label>
					<div class="col-10 position-relative">
					 	<input type="email"
									 name="frogotPassword_email_confirm" 
									 class="form-control" 
									 id="frogotPassword_email_confirm"
									 placeholder="email cím megerősítése"
									 ng-init="model.frogotPassword.email_confirm=null"
									 ng-model="model.frogotPassword.email_confirm"
									 ng-pattern="model.frogotPassword.email"
									 maxlength="50"
									 spellcheck="false" 
									 autocomplete="off"
									 ng-clear-icon
									 required>
					</div>
					<div class="col-2 mt-1">
					 	<span class="float-start text-success check-mark fw-bold"
								 	ng-show="frogotPasswordForm.frogotPassword_email_confirm.$valid">
						 	&check;
					 	</span>
					</div>
			 	</div>
			
			 	<!-- Buttons -->
			 	<div class="mb-1">
					<button type="button"
									class="btn btn-primary shadow-sm-bottom-end mb-1 mx-2"
									ng-click="methods.accept('frogotPassword')"
									ng-disabled="frogotPasswordForm.$invalid">
						Elküld
					</button>
					<button type="button"
									class="btn btn-secondary shadow-sm-bottom-end mb-2 mx-2"
									ng-click="methods.cancel()">
						Mégsem
					</button>
			 	</div>
			</form>
		</div>

		<!-- Login container -->
		<div class="form-container login-container bg-light h-100 w-50
						 		position-absolute start-0 top-0 border border-5">

			<!-- Login form -->
			<form name="loginForm"
					  class="login-form h-100 bg-light d-flex flex-column 
									 justify-content-center px-3">

				<!-- Title -->
				<h2 class="text-center mb-3">
				 	<i class="fa-right-to-bracket fa-solid me-1"></i>
				 	<span>Bejelentkezés</span>
				</h2>
			
				<!-- Email -->
				<div class="row input-row mb-2">
				 	<label for="login_email" 
								 class="col-form-label fw-semibold">
					 	<i class="text-danger fa-2xs fa-solid fa-star"></i>
					 	<i class="fa-envelope fa-solid me-1"></i>
					 	<span>Email cím:</span>
				 	</label>
				 	<div class="col-10 position-relative">
					 	<input type="email"
									 name="login_email" 
									 class="form-control" 
									 id="login_email"
									 placeholder="email cím"
									 ng-model="model.login.email"
									 ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
									 maxlength="50"
									 spellcheck="false" 
									 autocomplete="off"
									 ng-clear-icon
									 required>
				 	</div>
				 	<div class="col-2 mt-1">
					 	<span class="float-start text-success check-mark fw-bold"
								 	ng-show="loginForm.login_email.$valid">
						 	&check;
					 	</span>
				 	</div>
				</div>
			
				<!-- Password -->
				<div class="row input-row mb-1">
				 	<label for="login_password" 
								 class="col-form-label fw-semibold">
					 	<i class="text-danger fa-2xs fa-solid fa-star"></i>
					 	<i class="fa-key fa-solid me-1"></i>
					 	<span>Jelszó:</span>
				 	</label>
					<div class="col-10 position-relative">
					 	<input ng-attr-type="{{model.login.show_password?'text':'password'}}"
									 name="login_password" 
									 class="form-control" 
									 id="login_password"
									 placeholder="jelszó"
									 ng-init="model.login.password=null"
									 ng-model="model.login.password"
									 ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
									 spellcheck="false" 
									 spellcheck="false" 
									 autocomplete="off"
									 ng-clear-icon
									 required>
					</div>
					<div class="col-2 mt-1">
					 	<span class="float-start text-success check-mark fw-bold"
								 	ng-show="loginForm.login_password.$valid">
						 	&check;
					 	</span>
						<span class="float-end"
									data-bs-toggle="tooltip"
						 			data-bs-custom-class="custom-tooltip"
						 			data-bs-html="true"
						 			data-bs-title="&lt;p class='my-1'>6-20 karakter&lt;/br>
																 &lt;small>(kis- nagybetűket és számokat tartalmaz)&lt;/small>&lt;/p>">
				 			<i class="text-primary fa-circle-info fa-solid"></i>
			 			</span>
					</div>
				</div>
			
				<!-- Show/Hide password -->
				<div class="form-check mb-4">
				 	<input type="checkbox" 
								 class="form-check-input" 
								 id="login_show_password"
								 ng-init="model.login.show_password=null"
								 ng-model="model.login.show_password">
				 	<label class="form-check-label fw-semibold" 
								 for="login_show_password">
					 	<i class="fa-eye fa-solid ms-1"></i>
					 	<span>jelszót megjelenít</span>
				 	</label>
				</div>
			
				<!-- Buttons -->
				<div class="mb-1">
				 	<button type="button"
								 	class="btn btn-primary shadow-sm-bottom-end mb-2 mx-2"
								 	ng-click="methods.accept('login')"
								 	ng-disabled="loginForm.$invalid">
					 	Bejelentkezés
				 	</button>
					<button type="button"
									class="btn btn-secondary shadow-sm-bottom-end mb-2 mx-2"
									ng-click="methods.cancel()">
						Mégsem
					</button>

					<!-- Stay logged in -->
					<div class="form-check mt-4">
						<input type="checkbox" 
									class="form-check-input" 
									id="login_stay_logged_in"
									ng-init="model.login.stay_logged_in=null"
									ng-model="model.login.stay_logged_in">
						<label class="form-check-label fw-semibold" 
									for="login_stay_logged_in">
							<span>maradjon bejelenkezve</span>
						</label>
				</div>
				</div>
			</form>
		</div>

		<!-- Overlay container -->
		<div class="overlay-container position-absolute 
						 		top-0 start-50 w-50 h-100 overflow-hidden">

			<!-- Overlay -->
			<div class="bg-dark h-100 position-relative text-white overlay">

			 	<!-- Left panel-->
			 	<div class="overlay-panel overlay-left px-4
										position-absolute d-flex align-items-center
										justify-content-center flex-column text-center 
										top-0 h-100 w-50">

					<!-- Title -->
					<h3 class="text-center mb-3">
						<span ng-if="!isShowFrogotPasswordForm">
							Üdvözöljük!
						</span>
						<span ng-if="isShowFrogotPasswordForm">
							Üdvözöljük újra!
						</span>
					</h3>

					<!-- Content -->
					<div class="text-center mb-3">
						<p>
							<span ng-if="!isShowFrogotPasswordForm">
								Ahhoz, hogy kapcsolatban legyünk, kérjük adja meg a személyes adatait.
							</span>
							<span ng-if="isShowFrogotPasswordForm">
								Ha elfelejtette a jelszavát, küldjön nekünk üzenetet, és mi segítünk!
							</span>
						</p>
					</div>
					<hr class="w-100 mt-0">

					<!-- Title -->
					<h6 class="text-center mb-3">
						<span ng-if="!isShowFrogotPasswordForm">
							Ha már regisztrált, jelenkezzen be!
						</span>
						<span ng-if="isShowFrogotPasswordForm">
							Ha mégis megvan a jelszava, akkor jelenkezzen be!
						</span>
					</h6>

					<!-- Buttons -->
					<div class="text-center mb-3">

						<!-- Login -->
						<button type="button"
									 	class="btn btn-secondary btn-sm"
									 	ng-click="methods.toggle()">
							Bejelentkezés
						</button>
					</div>
			 	</div>

			 	<!-- Right panel -->
			 	<div class="overlay-panel overlay-right px-4
										position-absolute d-flex align-items-center
										justify-content-center flex-column text-center 
										top-0 h-100 w-50 end-0">

					<!-- Title -->
					<h3 class="text-center mb-3">
						Üdvözöljük újra!
					</h3>

					<!-- Content -->
					<div class="text-center mb-3">
					 	<p>
							Ahhoz, hogy kapcsolatban maradjon velünk, kérjük, jelentkezzen be személyes adataival.
					 	</p>
					</div>
					<hr class="w-100 mt-0">

					<!-- Title -->
					<h6 class="text-center mb-3">
						Ha még nincs regisztrálva, tegye azt!
					</h6>

					<!-- Buttons -->
					<div class="text-center mb-4">

						<!-- Register -->
						<button type="button"
										class="btn btn-secondary btn-sm"
										ng-click="methods.toggle()">
							Regisztráció
						</button>
					</div>
					<hr class="w-100 mt-0">

					<!-- Title -->
					<h6 class="text-center mb-3">
						Elfelejtette jelszavát, segítünk!
					</h6>

					<!-- Buttons -->
					<div class="text-center mb-3">

						<!-- Frogot password -->
						<button type="button"
										class="btn btn-secondary btn-sm"
										ng-click="methods.toggle(true)">
							Elfelejtette jelszavát?
						</button>
					</div>
			 	</div>
			</div>
		</div>
	</div>
</div>